/* 
Project: Moderna framework
Author: Muhammad
Official repo: github.com/dev-muhammad/moderna
*/
*{
    font-family: "Roboto", sans-serif;
    color: #313131;
}
body{
    padding:0;
    margin:0;
}
a {
    background-color: transparent;
    color: #1ec677;
    text-decoration: none;
}
.title {
    font-size: 46px;
    line-height: 60px;
}
.subtitle{
    font-size: 22px;
    line-height: 32px;
}
.button{
    padding: 10px 20px;
    background-color: #1ec677;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 20px 40px;
}
.container > .item {
    flex: 40%;
    margin: 20px;
    text-align: center;
}
.text-item{
    text-align: left !important;
}
.image-item>img{
    width:400px; 
}
.text-center-item{
    max-width: 500px;
    text-align: center;
    margin:auto;
}
.header{
    position: fixed;
    height: 50px;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #fff;
    padding: 5px 0 8px;
    padding-top: 5px;
    padding-bottom: 8px;
    transition: .3s all,box-shadow .6s ease;
}
.active-header{
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  background-color: rgba(255,255,255,0.9)
}
.header-content{
    max-width: 1100px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-branding{
    display: inline-block;
    width: auto;
}
.header-branding>a>img{
    height: 80px;
}
.header-nav{
    display: inline-block;
    text-align: right;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.mobile-menu-icon{
    display: none;
}
.menu-item{
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
}
a>.menu-item:hover{
    color: #1ec677;
    cursor: pointer;
}
.menu-action{
    align-self: center;
}
.footer{
    display: flex;
    justify-content: center;;
    background-color: #ddd;
    padding:30px 0px;
    align-content: center;
    align-items: center;
}
.footer-item{
    width: 250px;
    margin: 20px;
    text-align: center;
}
.footer-item > ul{
    list-style-type: none;
     padding: 0px;
}
.footer-item .list-title{
    font-size: 24px;
    line-height: 40px;
    font-weight: bold;
    margin: 0px;
}
.footer-item .list-item{
    line-height: 30px;
    font-size: 20px;
}
.footer-item .list-item:hover{
    color: #1ec677;
}
.sign{
    text-align: center;
    background-color: #000;
    color:#fff;
    padding: 5px;
    margin: 0px;
}

/* card */
.card-containter{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: revert;
}
.card{
    display: flex;
    justify-content: space-between;
    align-content: center;
    border: #ddd solid 1px;
    border-radius: 10px;
    margin: 20px;
}
.elevation{
    transition: .5s all,box-shadow .6s ease;
}
.elevation:hover{
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.4);
    background-color: rgba(255,255,255);
    border: none;
}
.horizontal-card{
    flex-direction: row;
}
.horizontal-card .card-image{
    align-self: center;
}
.horizontal-card .card-image>img{
    width: 100%;
}
.vertical-card{
    flex-direction: column;
    width: 250px;
}
.vertical-card .card-image>img{
    width: 100%;
}
.card .card-content{
    padding: 10px;
    align-self: center;
}
.card .card-content .card-title{
    font-size: 25px;
    line-height: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.vertical-card .card-title{
    text-align: center;
}
.card .card-content .card-action{
    margin: 20px 0px;
    font-size: 20px;
    font-weight: bolder;
}
.card:hover .card-action{
    text-decoration: underline;
    text-decoration-color: #1ec677;
    text-decoration-thickness: 2px;
}
/* accordion */
.accordion {
    min-height: 0;
    display: inline-block;
    position: relative;
    left: 50%;
    margin: 0px auto;
    transform: translate(-50%, 0);
    /* background-color: #fefffa; */
    max-width: 800px;
    padding: 30px;
}
.accordion h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    /* background-color: #fefffa; */
    margin: 0;
    cursor: pointer;
}
.accordion p {
    /* color: rgba(48, 69, 92, 0.8); */
    font-size: 17px;
    line-height: 26px;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 14px;
    z-index: 2;
    transition: all 500ms ease;
}
.accordion p,
.accordion ul li i:before,
.accordion ul li i:after {
    transition: all 0.25s ease-in-out;
}
.accordion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.accordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
    padding-bottom: 4px;
    padding-top: 18px;
    border-top: 1px dotted #dce7eb;
}
.accordion ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 9px;
    right: 0;
}
.accordion ul li i:before,
.accordion ul li i:after {
    content: "";
    position: absolute;
    background-color: #000;
    width: 3px;
    height: 16px;
}
.accordion ul li i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.accordion ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
.accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
}
.accordion ul li input[type=checkbox]:checked ~ p {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(90, 50%);
}
.accordion ul li input[type=checkbox]:checked ~ i:before {
    margin-top: 9px;
    height: 9px;
    transform: translate(2px, 0) rotate(45deg);
}
.accordion ul li input[type=checkbox]:checked ~ i:after {
    margin-top: 9px;
    height: 9px;
    transform: translate(-2px, 0) rotate(-45deg);
}
.accordion ul li:nth-of-type(1) {
    border-top: none;
    animation-delay: 0.5s;
}
.accordion ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}
.accordion ul li:nth-of-type(3) {
    animation-delay: 1s;
}
.accordion ul li:last-of-type {
    padding-bottom: 0;
}

/* testimonial */
.testimonial{
    max-width: 600px;
    display:flex; 
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    margin: 0 auto;
}
.testimonial .item{
    margin:10px 0;
}
.testimonial>div{
    display:flex;
    flex-direction: row;
}
.testimonial .image{
    align-self: flex-end;
    margin-right:5px;
}
.testimonial img{
    width:50px;
    height: 50px;
}
.circle-rounded-image{
    border-radius: 100%;
    border: 2px solid #fff;    
}
.testimonial .item .testimonial-content{
    border-radius: 15px;
    background-color: #ddd;
    padding:10px;
    margin-bottom: 10px;
}
.testimonial .item .testimonial-content .testimonial-title{
    font-weight: 600;
    color: #222;
}
.testimonial .item .testimonial-content .testimonial-text{
    margin: 5px 0px;
    color: #313131;
}
/* pagination */
.content-center{
    margin:0 auto;
}
.text-center{
    text-align: center;
}
.full-height{
    min-height: 80vh;
}
.pa-0{
    padding: 0px;
}
.pa-1{
    padding: 10px;
}
.pa-2{
    padding: 20px;
}
.pa-3{
    padding: 30px;
}
.pa-4{
    padding: 40px;
}
.pa-5{
    padding: 50px;
}
.pa-6{
    padding: 60px;
}
.pa-7{
    padding: 70px;
}
.pt-1{
    padding-top: 10px;
}
.pt-2{
    padding-top: 20px;
}
.pt-3{
    padding-top: 30px;
}
.pt-4{
    padding-top: 40px;
}
.pt-5{
    padding-top: 50px;
}
.pr-1{
    padding-right: 10px;
}
.pr-2{
    padding-right: 20px;
}
.pr-3{
    padding-right: 30px;
}
.pr-4{
    padding-right: 40px;
}
.pr-5{
    padding-right: 50px;
}
.pb-1{
    padding-bottom: 10px;
}
.pb-2{
    padding-bottom: 20px;
}
.pb-3{
    padding-bottom: 30px;
}
.pb-4{
    padding-bottom: 40px;
}
.pb-5{
    padding-bottom: 50px;
}
.pl-1{
    padding-left: 10px;
}
.pl-2{
    padding-left: 20px;
}
.pl-3{
    padding-left: 30px;
}
.pl-4{
    padding-left: 40px;
}
.pl-5{
    padding-left: 50px;
}
.ma-0{
    margin: 0px;
}
.ma-1{
    margin: 10px;
}
.ma-2{
    margin: 20px;
}
.ma-3{
    margin: 30px;
}
.ma-4{
    margin: 40px;
}
.ma-5{
    margin: 50px;
}
.mt-1{
    margin-top: 10px;
}
.mt-2{
    margin-top: 20px;
}
.mt-3{
    margin-top: 30px;
}
.mt-4{
    margin-top: 40px;
}
.mt-5{
    margin-top: 50px;
}
.mr-1{
    margin-right: 10px;
}
.mr-2{
    margin-right: 20px;
}
.mr-3{
    margin-right: 30px;
}
.mr-4{
    margin-right: 40px;
}
.mr-5{
    margin-right: 50px;
}
.mb-1{
    margin-bottom: 10px;
}
.mb-2{
    margin-bottom: 20px;
}
.mb-3{
    margin-bottom: 30px;
}
.mb-4{
    margin-bottom: 40px;
}
.mb-5{
    margin-bottom: 50px;
}
.ml-1{
    margin-left: 10px;
}
.ml-2{
    margin-left: 20px;
}
.ml-3{
    margin-left: 30px;
}
.ml-4{
    margin-left: 40px;
}
.ml-5{
    margin-left: 50px;
}

@media (max-width: 800px) {
    .container, .footer {
      flex-direction: column;
    }
    .header-content{
        padding:0px;
    }
    .header-nav{
        justify-content: flex-end;
        padding-right: 20px;
    }
    .container{
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .container .text-item{
        padding-left: 0px;
    }
    .image-item>img{
        width:300px; 
    }
    .full-height{
        height: max-content;
    }
    .reverse-mobile{
        flex-direction: column-reverse;
    }
    .card-containter{
        flex-direction: column;
    }
    .horizontal-card{
        flex-direction: column;
    }
    .horizontal-card .card-content .card-action{
        text-align: center;
    }
    .mobile-menu-icon{
        display: block;
    }
    .header-nav .menu {
        display: none;
    }
    .mobile-menu-icon::after{
        content:url("data:image/svg+xml,<svg width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z' /></svg>");
        padding:0px;
        margin: 10px;
        cursor: pointer;
    }
    .closed::after{
        content:url("data:image/svg+xml,<svg width='40' height='40' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='M4,11H21V9H4M4,15H21V13H4M4,19H21V17H4,' /></svg>");
    }
    .show-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        background-color: rgba(255,255,255,0.9);
        left:0px;
        top:47px;
        width: 100vw;
        text-align: center;
        box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
    }
    
}